<div class="article-wrap">
  <div class="todo-wrap">

  <mat-card class="news-card">
  
      <mat-card-content>
          <section class="example-section">
            <mat-card-title class="title">Add Tasks</mat-card-title>          
          </section>

          <section class="example-section">           
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Life goal.." name="item" type="text" [(ngModel)]="myItem">              
            </mat-form-field>   
            <button [disabled]="!myItem" mat-raised-button color="primary" (click)="addTodo(myItem)" >Add</button>
          </section>

          <section class="example-section">   
              <mat-list>
                <h3 mat-subheader *ngIf="Todo.length">{{Todo.length}} Tasks to be done</h3>
                <h3 mat-subheader *ngIf="!Todo.length">No tasks!</h3> 
                <mat-selection-list *ngFor="let todo of Todo; let i = index">
                    <mat-list-option (click)="removeTodo(i,todo)">{{todo}}</mat-list-option>
                </mat-selection-list>    
            </mat-list>        
          </section>

          <section class="example-section">   
            <mat-list> 
                <div *ngIf="CompletedTodos.length">
                    <mat-divider></mat-divider><br>
                    <h3 mat-subheader *ngIf="CompletedTodos.length">Completed tasks {{CompletedTodos.length}}</h3>  
                </div> 
              <mat-selection-list *ngFor="let done of CompletedTodos; let i = index" >
                  <mat-list-option (click)="undo(i,done)" [value]="done" [selected]="true"><del>{{done}}</del></mat-list-option>
              </mat-selection-list> 
            </mat-list>           
          </section> 

      </mat-card-content>      
  </mat-card> 

</div>
</div>