<div class="article-wrap">
  <mat-card class="news-card">
      <mat-card-header>
        <mat-card-title class="title">Pipe</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div><strong>No pipe:</strong> {{birthday }}</div>
        <div><strong>Using pipe:</strong> {{birthday | date }}</div>
        <br/>
        <div><strong>No pipe:</strong> {{ simpleString }}</div>
        <div><strong>using Reverse String pipe:</strong> {{ simpleString | reverseString }}</div>
      </mat-card-content>     
  </mat-card> 
</div>