

  <router-outlet></router-outlet>


<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="news-sidenav">
    <mat-nav-list class="list-nav">
      <a mat-list-item class="source-name" (click)="sidenav.close();" routerLink="/todo" routerLinkActive="active"> Home
        Todo Example</a>
      
     <a mat-list-item class="source-name" (click)="sidenav.close();"  routerLink="/custompipe" routerLinkActive="active"> Custom pipe Example</a>                   
                    <a mat-list-item class="source-name" (click)="sidenav.close();"  routerLink="/directive" routerLinkActive="active"> Custom Directive Example</a>       
    </mat-nav-list>
  </mat-sidenav> 
  <router-outlet></router-outlet>
</mat-sidenav-container> -->
