
<mat-toolbar color="primary">
    <button mat-button (click)="sidenav.open()" ><mat-icon>menu</mat-icon></button>
    <span>News Headlines</span>  
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button>
  </mat-toolbar>
  <mat-menu #appMenu="matMenu">
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Help </button>
  </mat-menu>


    <mat-sidenav-container class="example-container">
  
        <mat-sidenav #sidenav class="news-sidenav">
          <mat-list class="list-nav">
              <mat-list-item class="list-item">
                <span class="source-name" (click)="sidenav.close();" routerLink="/" routerLinkActive="active"> Home</span>              
              </mat-list-item>
              <mat-list-item class="list-item"> 
                  <span class="source-name" (click)="sidenav.close();"  routerLink="/news" routerLinkActive="active"> News</span>              
                </mat-list-item>
          </mat-list>
        </mat-sidenav>


        <router-outlet></router-outlet>
</mat-sidenav-container>      
        



 