
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



$text-color: #000;

a{
    text-decoration: none;

    span{
        color:$text-color;
    }
}


.article-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 0 20px;

    .news-card{
        margin-bottom: 20px;
        min-width: 500px;
    }
    
}

.mat-drawer-container{
    min-height: 100vh;
}
