
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



$text-color: #000;

a{
    text-decoration: none;

    span{
        color:$text-color;
    }
}

.mat-drawer-container{
    min-height: 100vh;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 2vw;  
}
.filter-grid{
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2vw;
}

.fiter-bar, .article-wrap-outer{
    margin: 20px;  
}

.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
    flex: 1 1 auto;
}

.mat-card img {
    max-height: 300px;
}
